{% import "wtf.jinja" as wtf %}
{% extends "base.html" %}

{% block content %}
<form method="POST" class="form is-flex is-flex-direction-row is-justify-content-space-evenly">
  <div style="width: 32rem;">
    <div class="field">
      <label class="label text-light">Macro</label>
      <div class="control">
        <select class="select font-mono" style="width: 100%;" id="macroselect">
          {%- for macro in all_macros %}
            {%- if loop.index0 == chosen_macro %}
              <option value="{{ loop.index0 }}" label="ALT + {{ loop.index }}: {{ macro.name }}" selected></option>
            {%- else %}
              <option value="{{ loop.index0 }}" label="ALT + {{ loop.index }}: {{ macro.name }}"></option>
            {%- endif %}
          {%- endfor %}
        </select>
      </div>
    </div>
    <div class="field">
      <label class="label text-light">Name</label>
      <div class="control">
        <input class="input font-mono" type="text" value="{{ all_macros[chosen_macro].name }}" name="name" />
      </div>
    </div>
    <div class="field">
      <label class="label text-light">Keys</label>
      <div class="control">
        <textarea class="textarea font-mono" placeholder="Textarea" name="keys">{{ all_macros[chosen_macro].keys }}</textarea>
      </div>
      <p class="help">Macro keys in python ast format (supported with eval: ['wa', 'La'] + ['a']*50)</p>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox text-light">Force keys</label>
        <input type="checkbox" class="checkbox" name="force_keys" {% if all_macros[chosen_macro].force_keys %}checked{% endif %} />
      </div>
      <p class="help">When executing the macro, keys will override the player's input.</p>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary" style="width: 100%;">
          <span class="is-size-4">Save macro</span>
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const currentParams = new URLSearchParams(location.search.slice(1));

    document.getElementById("macroselect").addEventListener("change", (event) => {
      currentParams.set("macro", event.target.value);
      location.search = currentParams.toString();
    });
  })
</script>
{% endblock %}
