{% import "wtf.jinja" as wtf %} {% extends "base.html" %} {% block content %}

{% set map_styles = ({"base":"color: purple", "beach":"color: teal", "ocean":"color: blue", "cloud":"color: #00BFFF", "ruins":"color: brown"})	%}

{% macro item_header(item) %}
<div class="is-flex is-justify-content-space-between is-align-items-center">
  <span style="{{ map_styles[item.mapname] or '#262124' }}">{{ item.mapname }}</span>
  <span>
    <button disabled class="button px-2 py-1">👀 Show</button>
    {% if item.tracking %}
    <button class="button px-2 py-1" style="background-color: rgb(255, 198, 198);" onclick="track_object('{{ item.mapname }}','{{ item.obj.nametype }}','{{ item.obj.name or item.obj.map_name }}')">⛔️ Untrack</button>
    {% else %}
    <button class="button px-2 py-1" onclick="track_object('{{ item.mapname }}','{{ item.obj.nametype }}','{{ item.obj.name or item.obj.map_name }}')">🎯 Track</button>
    {% endif %}
  </span>
</div>
{%- endmacro %}

<div class="grid is-col-min-12" style="grid-template-rows: masonry;">
  {% if state %}
  <div class="cell box is-dark theme-colors-light is-align-self-baseline">
    <h1 class="title is-5">Flags</h1>
    <div class="content">
    {% for flag in state.flags %}
      {{ item_header(flag) }}
      <p class="mt-2" style="text-align: center;">
        <span class="title is-6">{{ flag.obj.name }}: <span style="white-space: nowrap;">{{ flag.stars }} ⭐</span></span>
      </p>
      {% if not loop.last %}
      <hr class="theme-colors"/>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="cell box is-dark theme-colors-light is-align-self-baseline">
    <h1 class="title is-5">Coins</h1>
    {% for coin in state.coins %}
    <div>
      {{ item_header(coin) }}
      <p class="mt-2" style="text-align: center;">
        <span class="title is-6">{{ coin.obj.display_name }} 💵 {{ coin.obj.name }}</span>
      </p>
    </div>
    {% if not loop.last %}
    <hr class="theme-colors my-2"/>
    {% endif %}
    {% endfor %}
  </div>
  <div class="cell box is-dark theme-colors-light is-align-self-baseline">
    <h1 class="title is-5">NPCs</h1>
    {% for npc in state.npcs %}
    <div>
      {{ item_header(npc) }}
      <p class="mt-2" style="text-align: center;">
        <span class="title is-6">{{ npc.obj.name }}</span>
      </p>
    </div>
    {% if not loop.last %}
    <hr class="theme-colors my-2"/>
    {% endif %}
    {% endfor %}
  </div>
  <div class="cell box is-dark theme-colors-light is-align-self-baseline">
    <h1 class="title is-5">Items</h1>
    {% for item in state.items %}
    <div>
      {{ item_header(item) }}
      <p class="mt-2" style="text-align: center;">
        <span class="title is-6">{{ item.obj.name }}</span>
      </p>
    </div>
    {% if not loop.last %}
    <hr class="theme-colors my-2"/>
    {% endif %}
    {% endfor %}
  </div>
  <div class="cell box is-dark theme-colors-light is-align-self-baseline">
    <h1 class="title is-5">Warps</h1>
    {% for warp in state.warps %}
    <div>
      {{ item_header(warp) }}
      <p class="mt-2" style="text-align: center;">
        <span class="title is-6">🌀 warp to {% if warp.mapname == "base" %}<span style="{{ map_styles[warp.obj.map_name] or '#262124' }}">{{ warp.obj.map_name }}</span>{% else %}<span style="{{ map_styles['base'] or '#262124' }}">base</span>{% endif %}</span>
      </p>
    </div>
    {% if not loop.last %}
    <hr class="theme-colors my-2"/>
    {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <section class="section">
    <div class="container">
      <h1 class="title has-text-warning">No game state available, wait a bit</h1>
    </div>
  </section>
  {% endif %}
</div>

<script>
  function track_object(mapname, objnametype, objname) {
    fetch(`/track`, { 
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams({
        mapname: mapname,
        objnametype: objnametype,
        objname: objname,
      }),
    }).then(() => {
      window.location.reload();
    });
  }
</script>
{% endblock %}
