{% import "wtf.jinja" as wtf %}
{% extends "base.html" %}

{% block content %}
<form method="post" class="form is-flex is-flex-direction-row">
    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-evenly" style="gap: 1rem;">
    {%- for form in forms %}
        <div class="box is-dark theme-colors-light" style="width: 24rem; margin: 0; padding: 1rem;">
        <h3 class="title text-dark is-3" style="margin-bottom: 0.75rem;">{{ form.title }}</h3>
        {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
        </div>
    {%- endfor %}
    </div>
</form>
{% endblock %}
